$black: #000000;
$light-black: #262626;
$white: #FFFFFF;
$white-five: #EBEDF0;
$white-six: #FBFDFF;
$white-seven: #F5F6F7;
$blue-one: #243757;
$blue-two: #42526D;
$blue-three: #0F62FE;
$header-bgc-color: $white;
$left-menu-selected-bgc: $white-seven;
$gray-seven: #8D8D8D;
$red: #DA1E28;
