@import "common";
@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Inter:wght@300;400;500;600&family=Noto+Sans+Bengali:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', 'Almarai', 'Noto Sans Bengali', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white-six;
}

code {
  font-family: 'Inter', 'Almarai', 'Noto Sans Bengali', sans-serif;
}

/* This will work on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgray #dddddd;
}

/* Target's on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #dddddd;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

.pos-relative {
  position: relative;
}

/* ============  Start Custom CSS =========== */

/* APP layout */
.app-wrapper {
  display: grid;
  @include fullDisplay;

  //.my-sider {
  //
  //  margin-right: 20px;
  //
  //  @media screen and (max-width: 991px) {
  //    position: fixed;
  //    z-index: 999;
  //  }
  //}

  .app-page {
    margin: 0 20px 20px 20px;

    .page-header {

      .ant-page-header {
        padding-inline: unset;
        padding: 10px 0;

        .ant-page-header-heading-left {
          .ant-page-header-heading-title {
            color: $blue-one;
            font-size: 32px;
            line-height: 36px;
          }
        }
      }
    }

    .page-content {
      overflow-y: auto;
      height: calc(100vh - 172px);
      //padding: 20px;
      //background-color: $white;
    }
  }
}

.page-content-style {
  padding: 20px;
  background-color: $white;
  border-radius: 2px;
}

.ant-btn {
  padding-left: 24px;
  padding-right: 24px;
}

.ant-btn-primary:hover {
  background-color: $light-black !important;
}

.ant-btn-default:hover {
  border-color: $gray-seven !important;
}

.ant-select {
  height: 44px;

  .ant-select-selector {
    border: none !important;
    border-radius: 2px;

    //&:focus-visible {
    //  outline: none !important;
    //}

    .ant-select-selection-search {
      //&:focus-visible {
      //  outline: none !important;
      //}

      .ant-select-selection-search-input {
        height: 44px;
      }
    }

  }
}

.ant-picker {
  height: 44px;
  border: none;
  border-radius: 2px;

  &:focus, &:focus-within {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
  }
}

.ant-input, .ant-input-password {
  border: none;
  border-radius: 2px;

  &:focus, &:focus-within {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
  }
}

.ant-input-wrapper {
  &:focus, &:focus-within {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
  }

  .ant-input-affix-wrapper {
    border: none;
    border-radius: 2px;
  }
}

.ant-input-group-addon {
  border: none !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.ant-menu-item-divider {
  margin-block: 12px !important;
}
